a:link { color:#000; text-decoration:none }
a:visited { color:#000; text-decoration:none }
a:hover { color:#000; text-decoration:none }
a:active { color:#000; text-decoration:none }

*,
p {
    padding: 0px;
    margin: 0px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.full {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.hidden {
    display: none;
}

button {
    background-color: transparent;
    border: none;
}


html,
body {
    width: 100%;
    min-width: 1280px;
    min-height: 800px;
    background-color: #d9edff;
    background-image: url(../images/img_bg_dot.png);
    font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

}
#main {
    width: 100%;
}

#layer1 #leftCloud {
    top: 60px;
    left: 0px;
}

#layer1 #rightCloud {
    top: 320px;
    right: 0px;
}

#layer2 {
    position: relative;
    margin: auto;
    width: 1280px;
}

#layer3 #granpa {
    left: 179px;
    top: 337px;
}

#layer3 #granma {
    right: 180px;
    top: 380px;
}
#layer4 {
    z-index: 1000;
}
#layer4 #titleTop {
    left: 26%;
    top: 80px;
    transform: translateX(-50%);
}

#layer4 #titleBottom {
    left: 29%;
    top: 190px;
    transform: translateX(-50%);
}

#layer4 #girl {
    left: 420px;
    top: 380px;
}

#layer4 #boy {
    right: 420px;
    top: 380px;
}

#layer5 #leftTop {
    left: 80px;
    top: 250px;
}

#layer5 #rightTop {
    right: 80px;
    top: 190px;
}

#layer5 #leftBottom {
    left: 120px;
    top: 580px;
}

#layer5 #rightBottom {
    right: 150px;
    top: 580px;
}

#layer6 #entryPriod {
    left: 50%;
    top: 720px;
    transform: translateX(-50%);
}

#submit {
    width: 100%;
    min-width: 1280px;
    height: 120px;
    background-color: rgba(109, 167, 43, 0.79);
    padding-top: 48px;
}
#submit .inner {
    width: 1280px;
}

#submit #entryButton {
    width: 500px;
    margin: auto;
    display: block;
}

#submit #entryButtonBottomText {
    color: #FFF;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
#submit a {
    text-align: center;
    position: relative;
}
#submit a img {
    width: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: width;
    transition-duration: 0.2s;
    -webkit-transition: width;
    -webkit-transition-duration: 0.2s;
}
#submit a img:hover {
    width: 380px;
}

#mainContents {
    width: 100%;
    min-width: 1280px;
    background-color: #ffe024;
    height: 300px;
}
#mainContents .inner{
    width: 1280px;
    height: 300px;
}
#mainContents #discription {
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #009634;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 
        1px 1px 0px #FFF, 
        -1px 1px 0px #FFF, 
        1px -1px 0px #FFF, 
        -1px -1px 0px #FFF;
}

#snsShare {
    width: 100%;
    min-width: 1280px;
    height: 150px;
    background-color: #62aec2;
}
#snsShare .inner {
    width: 1280px;
}
#snsShareMessage {
    padding-top: 10px;
    text-align: center;
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
}
#snsShare #buttons {
    position:relative;
    width: 165px;
    margin: auto;
}
#snsShare #twitterButton {
    width: 80px;
    text-align: center;
}
#snsShare #facebookButton {
    width: 80px;
    text-align: center;
    
}


footer {
    width: 100%;
    min-width: 1280px;
    width: 100%;
    height: 300px;
    background-color: #e8e8e8;
    color: #049b56 !important;
    font-weight: bold;
}
footer #wrapper {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: auto;
}
footer #fotterIcon{
    top: 10px;
    left: 10px; 
}
footer #copyRight{
    bottom: 10px;
    left: 10px; 
}
footer #fotterMenuList{
    top: 10px;
    left: 150px; 
}
footer #toTop{
    top: 10px;
    right: 10px; 
}
footer a {
    color: #049b56
}
footer a:link { 
    color:#049b56; text-decoration:none 
}
footer a:visited { 
    color:#049b56; text-decoration:none 
}
footer a:hover { 
    color:#049b56; text-decoration:none
}
footer a:active { 
    color:#049b56; text-decoration:none 
}