html, body {
    width: 100% !important;
    height: auto;
    min-width: inherit !important;
}

#layer1 {
    width: 100%;
}

#layer2 {
    width: 100%;
}

#submit {
    width: 100% !important;
    min-width: 100% !important;
}

#snsShare {
    width: 100% !important;
    min-width: 100% !important;
}

footer {
    width: 100% !important;
    min-width: 100% !important;
}
img {
    width:100%;
    max-width: 100%;
    height: auto;
}

#mainContents {
    width: 100% !important;
    min-width: 100% !important;
}

#bg {
    width: 100%;
}
#mainContents {
    width: 100%;
}
#layer2 {
    width: 100%;
}

footer #wrapper {
    width: 100%;
}
footer {
    height: 400px;
    padding-bottom: 150px;
}
#main div {
    display: inline-block;
/*    width: auto;*/
}

#layer1 #rightCloud {
    text-align: right;
}

#layer2 #granpa {
    left: 5%;
    top: 185px;
}

#layer2 #granma {
    right: 2%;
    top: 200px;
    text-align: right;
}

#layer4 #titleTop {
    top: 10px;
    width: 100%;
    left: inherit;
    text-align: center;
    transform: none;
}

#layer4 #titleBottom {
    top: 80px;
    width: 100%;
    left: inherit;
    text-align: center;
    transform: none;
}
#layer4 #boy {
    top: 276px;
    right: 13%;
    text-align: right;
    transform: none;
}

#layer4 #girl {
    top: 276px;
    left: 13%;
    text-align: left;
    transform: none;
}

#layer6 #entryPriod {
    top: 520px;
    left: inherit;
    width: 100%;
    text-align: center;
    transform: none;
}
#submit {
    z-index: 5000 !important;
}
#submit #entryButton {
    top: 10px;
    position: relative;
    left: inherit;
    width: 95%;
    margin: auto;
    text-align: center;
    transform: none;
}
#submit #entryButtonBottomText {
    top: 20px;
    position: relative;
    left: inherit;
    width: 95%;
    margin: auto;
    text-align: center;
    transform: none; 
}

#submit {
    position:fixed;
    bottom: 0px;
    z-index: 1500;
    text-align: center;
}

#mainContents #discription {
    font-size: 32px;
    padding: 10px 30px;
}

#snsShare {
    height: 170px;
    font-size: 14px;
}
#snsShare #snsShareMessage {
    width: 80%;
    margin: auto;
    font-size: 19px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#snsShare #buttons {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
#snsShare button {
    margin-right: 10px;
    margin-left: 10px;
    width: 70px !important;
}

#layer2 {
    height: 700px;
}

#snsShare img {
    width: auto;
    max-width: auto;
    height: auto;
}
#submit #entryButtonBottomText {
    top: 46px;
}
#ichinichi {
    bottom: 160px;
    right: 5px;
    width: 140px;
}
#ichinichi #ichinichiText {
    font-size: 18px;
}


#submit2 {
    width: 100%;
    min-width:inherit;
}
#submit2 .inner {
    width: 100%;
    min-width:inherit;
}
#submit #entryButtonBottomText {
    width: 300px;
    padding: 0px;
    margin: 0px;
    margin: auto;
}

#howToJoin #c_01 {
    width: 100%;
    top: 20px;
}

#howToJoin .howtoJoin01 {
    width: 300px !important;
    height: 68px;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 18px;
}

#howToJoin .howtoJoin01 div {
    font-size: 18px;
}

#howToJoin #c_02 {
    width: 100%;
    top: 260px;
}
#howToJoin .disp01 {
    width: 80%;
    top: 65px;
}
#mainContents #concept_body {
    width: 80%;
}

#howToJoinCover {
    height: 680px;
}

#mainContents #howToJoin {
    height: 750px;
}
#granpa {
    text-align: left;
}
.card {
    text-align: center;
    width: 80% !important;
}
.card img {
    width: 50%;
    margin-bottom: 30px;
}
#granpas {
    text-align: center;
}
#submit2 {
    height: 320px;
    padding-bottom: 10px;
    padding-tom: 10px;
}

#ouenshitemorao {
    width: 80%;
    margin-bottom: 20px;
}

#join_tejun {
    width: 200px;
}

/** iphone6用 */
@media screen and (max-width: 380px) {
    #boy img {
        width: 120px !important;
    }
    #girl img {
        width: 120px !important;
    }
    #empty {
        height: 550px !important;
    }
    
    #layer6 #entryPriod {
        top: 480px;
    }
    
    #submit {
        height: 90px;
    }
    #submit #entryButton {
        top: -9px;
        width: 80%;
    }
    
    #entryButton img {
        width: 80%;
    }
    #submit #entryButtonBottomText {
        bottom: -18px;
        top: auto;
    }
    
    #ichinichi {
        bottom: 210px;
        right: 5px;
        width: 140px;
    }
    #ichinichi #ichinichiText {
        font-size: 18px;
    }

}

/** iphone5用 */
@media screen and (max-width: 350px) {
    #layer2 {
        height: 520px;
    }
    #layer2 #titleBottom {
        top: 60px;
    }
    #layer2 #granpa {
        top: 120px;
    }
    #layer2 #granma {
        top: 130px;
    }
    #layer4 #boy {
        top: 230px;
    }
    #layer4 #girl {
        top: 230px;
    }
    #boy img {
        width: 120px !important;
    }
    #girl img {
        width: 120px !important;
    }
    #empty {
        height: 550px !important;
    }
    #submit {
        padding-top: 25px !important;
    }
    #submit #entryButton {
        top: 10px !important;
    }
    #submit #entryButtonBottomText {
        top: 40px !important;
    }
    #layer6 #entryPriod {
        top: 425px;
    }
    
    #ichinichi {
        bottom: 85px;
        right: 5px;
        width: 140px;
    }
    #ichinichi #ichinichiText {
        font-size: 18px;
    }
    
    footer {
        height: 350px !important;
    }
}
